@import '../app/variables';

.presentation-card-content { 
  float: left;
  border: 1px solid #ccc;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow:    $box-shadow;
  box-shadow:         $box-shadow;
  margin-left: 30px;
  margin-top: 0px;
  width: 47.5%;
}

.presentation-card-content-title { 
  font-family: $omnes-medium-font;
  background-color: rgb(250, 250, 250);
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 28px 21px 30px;
}

.presentation-card-inner-content {
  font-family: $open-sans-font;
  font-size: 14px;
  margin: 0 20px 35px;
}

.presentation-card-inner-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px auto 34px;
}

@media only screen and (max-width : 799px) {
  .presentation-card-content { 
    float: none;
    margin-bottom: 28px;
    width: 98%;
  }
}



