@import 'variables';

@font-face {
  font-family: 'omnes-medium';
  src: url('http://ttxm.futures-ui.aws.talkdev.co.uk/fonts/omnes-medium/omnes-medium-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
  margin: 0 auto;
}

.presentation-content {
  margin-left: 30px;
  margin-right: 50px;
}


.presentation-title {
  font-family: $omnes-medium-font;
  font-size: 39px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ccc;
  margin-left: 60px;
  width: 92%;
}